header{
    background-color: bisque;
    color: black;
}

#navbaroptions{
    display: flex;
    justify-content: center;
    align-items: center;
}

#coursebutton, #homebutton{
    color: black;
    font-weight: 540;
}

footer{
    padding: 10px;
    text-align: center;
    background-color: #0f1111;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}