{% extends 'afterlogin_base.html' %}

{% block title %}
    Admin-QuizMaster
{% endblock %}

{% block content %}
    <h2>Admin Dashboard</h2>
    <div class="admindash container-fluid">
        <div class="container">
            <div class="row row-col-6">
                <div class="col">
                    <h3>Course Info</h3>
                    
                </div>
                <div class="col">
                    <h3>User Info</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
