{% extends 'after_login_base.html' %}
{% block title %}
    Course
{% endblock %}

{% block content %}
    <header>
        <nav class="navbar navbar-expand-lg container-fluid shadow" id="navbar">
            <a class="navbar-brand" href="{{ url_for('home_page') }}"><img src="/static/images/website-logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fa-solid fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav" id="navbaroptions">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('student_dashboard') }}" id="homebutton">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}"><button type="button" class="btn btn-dark">Log Out</button></a></li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}