{% extends 'base.html' %}

{% block title %}
    Courses-QuizMaster
{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid">
            <div class="container">
                <div class="row ">
                    <div class="col">
                        <img src="/static/images/statistics.jpeg" alt="">
                        <h3>Statistics</h3>
                    </div>
                    <div class="col">
                        <img src="/static/images/python.jpeg" alt="">
                        <h3>Python</h3>
                    </div>
                    <div class="col">
                        <img src="/static/images/web_dev.jpeg" alt="">
                        <h3>Web Developement</h3>
                    </div>
                    <div class="col">
                        <img src="/static/images/dbms.jpeg" alt="">
                        <h3>Database Management System</h3>
                    </div>
                    <div class="col">
                        <img src="/static/images/ml.jpeg" alt="">
                        <h3>Machine Lerning</h3>
                    </div>
                    <div class="col">
                        <img src="/static/images/cybersecurity.jpeg" alt="">
                        <h3>Cyber Security</h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}