{% extends 'base.html' %}

{% block title %}
    Courses-QuizMaster
{% endblock %}

{% block content %}
    <h2>Our Most Favourite Courses</h2>

    <div class="container-fluid">
        <div class="container">
            <div class="row ">
                <div class="col">
                    <img src="/static/images/statistics.jpeg" alt="">
                    <h3>Statistics</h3>
                </div>
                <div class="col">
                    <img src="/static/images/python.jpeg" alt="">
                    <h3>Python</h3>
                </div>
                <div class="col">
                    <img src="/static/images/web_dev.jpeg" alt="">
                    <h3>Web Developement</h3>
                </div>
            </div>
        </div>
    </div>
    <h5>Login to take a quiz and explore more.</h5>
    <a href="{{ url_for('login_page') }}">Login</a>
{% endblock %}