{% extends 'base.html' %}

{% block title %}
    QuizMaster - Online Quiz for Data Science Students
{% endblock %}
{% block content %}
    <div class="homepagecontent">
        <div id="homepagebanner">
            <h1>Master Your Knowledge<br>Level Up, and Stay Ahead!</h1>
        </div>
        <div>
            <p>A Modern Application Developement Project from IIT Madras</p>
        </div>
        <div class="homepagebutton ">
            <a href="{{ url_for('login_page') }}"><button type="button" class="col" id="homepagelogin">Login</button></a>
            <a href="{{ url_for('register_page') }}"><button type="button" class="col" id="homepageregister">Register</button></a>
        </div>
    </div>
{% endblock %}
