{% extends 'base.html' %}

{% block title %}
    Login-QuizMasrer
{% endblock %}


{% block content %}
    <div>
        <h2>Welcome Back!</h2>
        <h2>Login to your account</h2>
    </div>
    <div>
        <p>Nice to see you back. Ready for a test?</p>
    </div>
    <div>
        <form method="post">
            <label for="email" class="form-label">Your Email ID:</label>
            <input class="loginformoptions form-control" type="email" id="email" name="email" required autocomplete="email">
            
            <label for="password">Password:</label>
            <input class="loginformoptions form-control" type="password" id="password" name="password" required autocomplete="current-password">
            
            <button type="submit" class="gradient-btn-log-in">Login</button>
        </form>        
    </div>
    <br>
    <div>
        <p>Don't have an account? <a href="{{ url_for('register_page') }}">Sign Up</a></p>
    </div>
{% endblock %}