{% extends 'base.html' %}

{% block title %}
    Register-QuizMasrer
{% endblock %}

{% block content %}
    <div>
        <h2>Join QuizMaster!</h2>
        <h2>Create an account</h2>
    </div>
    <div>
        <p>Start leveling up your knowledge here</p>
    </div>
    <div>
        <form method="post">
            <input class="regformoption form-control" type="text" name="username" placeholder="Create Username">

            <input class="regformoption form-control"  type="email" name="email" placeholder="Email ID">

            <input class="regformoption form-control" name="password" type="password" placeholder="Password">

            <input class="regformoption form-control"  type="text" name="name" placeholder="Full Name">

            <input class="regformoption form-control"  type="text" name="qualification" placeholder="Qualification">

            <input class="regformoption form-control"  type="date" name="date">

            <button class="gradient-btn-register">Create account</button>
            
        </form>
    </div>

    <div>
        <p>Already have an account? <a href="{{ url_for('login_page') }}">Sign In</a></p>
        
    </div>
{% endblock %}