{% extends 'base.html' %}

{% block title %}
    Register-QuizMasrer
{% endblock %}

{% block content %}
    <div>
        <h2>Join QuizMaster! Create an account</h2>
    </div>
    <div>
        <p>Start leveling up your knowledge here</p>
    </div>
    <div>
        <form action="{{ url_for('register_post') }}" method="POST">
            <input class="regformoption form-control" type="emai" name="username"  placeholder="Create Username" required />

            <input class="regformoption form-control" name="password" type="password" placeholder="Password" required />

            <input class="regformoption form-control"  type="text" name="full_name"  placeholder="Full Name" required />

            <input class="regformoption form-control"  type="text" name="qualification"  placeholder="Qualification" />

            <input class="regformoption form-control"  type="date" name="date"  required />

            <button class="gradient-btn-register">Create account</button>   
        </form>
    </div>

    <div>
        <p>Already have an account? <a href="{{ url_for('login_page') }}">Sign In</a></p>
        
    </div>
{% endblock %}